.take-picture {
  width: 100%;
  max-width: 400px;
  margin: 120px auto 0;
}

.error-text {
  font-size: 14pt;
  color: #202020;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.exception-text {
  font-size: 8pt;
  color: #c6c6c6;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.shutter-icon {
  background-image: url('shutter-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10000;
}

.transition-ease {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.active-transition-rotation-180:active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*
.focus-transition-rotation-180:focus {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
*/

/*
.focus-transition-rotation-180:active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
*/

.maximal-opacity {
  opacity: 1.0;
}

.minimal-opacity {
  opacity: 0.2;
}

.active-transition-minimal-opacity:active {
  opacity: 0.2;
}

.animation-rotation-360 {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  transition-property: transform;
  transition-duration: 1s;

  -webkit-animation-name: rotation-360;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation-360;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotation-360;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation-360 {
    /*from {-webkit-transform: rotate(0deg);}*/
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation-360 {
    /*from {-moz-transform: rotate(0deg);}*/
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotation-360 {
    /*from {transform: rotate(0deg);}*/
    to {transform: rotate(360deg);}
}